<div class="card">
    <p-table (onLazyLoad)="lazyLoadItems($event)"
             [lazy]="true"
             [loading]="dataSource.loading()"
             [paginator]="true"
             [rowHover]="true"
             [rowsPerPageOptions]="paging.sizes"
             [rows]="paging.sizes[0]"
             [showCurrentPageReport]="true"
             [sortOrder]="-1"
             [totalRecords]="dataSource.total()"
             [value]="dataSource.items()"
             currentPageReportTemplate="Всего {totalRecords} элементов"
             dataKey="id"
             responsiveLayout="scroll"
             sortField="createdAt">

        <ng-template pTemplate="caption">
            <app-toolbar>
                <ng-container app-toolbar-left>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input #searchValue
                               pInputText
                               placeholder="поиск..."
                               type="text"/>
                    </span>
                    <p-dropdown (onChange)="loadItems()"
                                [(ngModel)]="filter.isDeleted.value"
                                [options]="filter.isDeleted.values"
                                optionLabel="name"
                                optionValue="value"
                                placeholder="все записи"
                                showClear="true"/>
                    <p-dropdown (onChange)="loadItems()"
                                [(ngModel)]="filter.languageId.value"
                                appFilterList="Languages"
                                placeholder="язык"
                                showClear="true"/>
                    <p-dropdown (onChange)="loadItems()"
                                [(ngModel)]="filter.isPublished.value"
                                [options]="filter.isPublished.values"
                                optionLabel="name"
                                optionValue="value"
                                placeholder="публикации"
                                showClear="true"/>
                </ng-container>
                <ng-container app-toolbar-right>
                    <button routerLink="./new" class="p-button" icon="pi pi-plus" label="Создать" pButton></button>
                </ng-container>
            </app-toolbar>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th>Обложка</th>
                <th pSortableColumn="title">Заголовок
                    <p-sortIcon field="title"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Описание
                    <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="languageId">Язык
                    <p-sortIcon field="languageId"></p-sortIcon>
                </th>

                <th style="max-width:150px;" pSortableColumn="isPublished">Опубликован
                    <p-sortIcon field="isPublished"></p-sortIcon>
                </th>
                <th style="max-width:120px;" pSortableColumn="isDeleted">Удален
                    <p-sortIcon field="isDeleted"></p-sortIcon>
                </th>
                <th style="max-width:160px" pSortableColumn="createdAt">Создан
                    <p-sortIcon field="createdAt"></p-sortIcon>
                </th>
                <th style="max-width:160px" pSortableColumn="updatedAt">Изменен
                    <p-sortIcon field="updatedAt"></p-sortIcon>
                </th>
                <th style="max-width:150px;">Действия</th>
            </tr>
        </ng-template>

        <ng-template let-item pTemplate="body">
            <tr>
                <td> @if (item.image) {
                    <img [ngSrc]="item.image.url" alt="" width="40" height="40"/>
                }</td>
                <td> {{ item.title }}</td>
                <td> {{ item.description }}</td>
                <td> {{ item.languageId | listItemEnumDisplay: "Languages" }}</td>
                <td> {{ item.isPublished ? "Опубликован" : "Нет" }}</td>
                <td> {{ item.isDeleted ? "Удален" : "" }}</td>
                <td> {{ item.createdAt | date: 'dd.MM.yyyy hh:mm:ss' }}</td>
                <td> {{ item.updatedAt | date: 'dd.MM.yyyy hh:mm:ss' }}</td>
                <td>
                    <button class="p-button p-button-text" icon="pi pi-pencil" pButton routerLink="./{{item.id}}/edit"
                            title="Редактировать"></button>
                    @if (item.isDeleted) {
                        <button (click)="restoreItem(item.id, item.name)" class="p-button p-button-text"
                                icon="pi pi-refresh" pButton title="Восстановить"></button>
                    } @else {
                        <button (click)="deleteItem(item.id, item.name)" class="p-button p-button-text"
                                icon="pi pi-trash" pButton title="Удалить"></button>
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast/>
<p-confirmDialog [baseZIndex]="10000" [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-text"/>
